body {
    margin: 0px;
    background-color: #ffffdd;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

h1 {
  font-family: 'Sacramento', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Roboto', sans-serif;
}


.top_container {
  bottom: 200px;
  top: 200px;
  background-color: #cbeaed;
  padding-top: 300px;
  height: 900px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom_cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.section_img {
  align: center;
  height: 140px;
  width: 140px;
}

.middle_container {
}

.bottom_container {
}
