body {
  margin: 0;
  background-color: #ffffdd;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 5.62rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.top_container {
  background-color: #cbeaed;
  position: relative;
  padding-top: 100px;
}

.top_cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom_cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.section_img {
  height: 140px;
  width: 140px;
}

.middle_container {}

.bottom_container {}
