html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-color: #cbeaed;
}


.top_container {
  height: 100%;
}

.top_image {
  background-image: url("../images/bkgrnd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
}

.myName {
  padding-top: 100px;
  text-align: center;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.section_img{
  width: 25%;
  float:left;
  margin-right: 30px;
}


h1 {
  font-size: 5.62rem;
  font-family: 'Charmonman', cursive;
  position: relative;
  color: #ffffdd;
}

h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.5rem;
  color: #ffffdd;
}

h3 {
  font-family: 'Roboto', sans-serif;
}

.middle_container {}

.bottom_container {}
